<div class="row">
  <div class="col-xs-6">
    <h2>
      <%= @item.name %>
    </h2>
    <h3>
      <%= "ブランド名：#{@item.brand.name}" %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= image_tag(@item.pictures.first.image.url)%>
    <%= form_for(@item, url: admin_item_path) do |f| %>
      <%= f.label :tags, 'タグ' %>
      <% tag_value = @item.tags.map{|tag| tag[:name]} %>
      <%= f.text_field :name, id: 'tags', name: 'tags', value: tag_value.join(",")  %><br />
      <div class="actions">
        <%= f.submit '更新する' %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-6">
    <% unless @item.pictures.empty? %>
      <% @item.pictures.each do |picture| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag(picture.image.url)%>
          </div>
        </div>
      <% end %>
    <% end %>
    <table class="table">
      <tr>
        <th class="col-xs-3">このアイテムについて</th>
        <td><%= @item.description %></td>
      </tr>
      <tr>
        <th class="col-xs-3">金額</th>
        <td><%= number_to_currency(@item.original_price, locale: 'jp')%></td>
      </tr>
      <tr>
        <th class="col-xs-3">セール金額</th>
        <td><%= number_to_currency(@item.discount_price, locale: 'jp')%></td>
      </tr>
      <tr>
        <th class="col-xs-3">ブランド名</th>
        <td><%= @item.brand.name %></td>
      </tr>
    </table>
  </div>
</div>

<%= link_to '戻る', admin_items_path, class: 'btn btn-info' %>
